.caroOverlay{
    position: relative;
}
.caroOverlay:after{
    position: absolute;
	content: "";
    background: blue;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	opacity: 0.9;
    z-index: 999;
}
.captions{
    position: relative;
    color:#fff;
    background: transparent;
    z-index: 9999;
}
.itemclass{
    background-image: url('../../assets/banner/banner3.jpg');
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 1;
    z-index: 999;
   
}